Q1.

In [54]:
email=(input("enter the email address:"))
splitword='@'
split='.'
print("Given email is:",email)
res=email.partition(splitword)[2]
companyname=res.partition(split)[0]
print("company name is:",companyname)

enter the email address:deepika@google.com
Given email is: deepika@google.com
company name is: google

Q2

In [14]:
lst=[]
for i in range(1,5):
    string=input("enter the elements:")
    lst.append(string)
print("original list is:",lst)
lst.sort()
print("Sorted list is:",lst)

enter the elements:without
enter the elements:hello
enter the elements:bag
enter the elements:world
original list is: ['without', 'hello', 'bag', 'world']
Sorted list is: ['bag', 'hello', 'without', 'world']

Q3.

Sets in python:-
-Set is a collection which is unordered and unindexed.
-In python sets are written with curly brackets

In [16]:
thisset={"one","two","three"}
print(thisset)

{'two', 'one', 'three'}

In [17]:
#loop through th set, and print the value
thisset={"one","two","three","four"}
for x in thisset:
    print(x)

two
one
four
three

In [23]:
#to find particular element from the set
thisset={"one","two","three","four"}
print("two" in thisset)

{'two', 'one', 'four', 'three'}

In [24]:
#add item in set
#for adding single element in set add()method is used
#for adding more then one element update()method is used
thisset={"one","two","three","four"}
thisset.add("five")
print(thisset)

{'two', 'one', 'four', 'five', 'three'}

In [25]:
#update()method:
thisset={"one","two","three","four"}
thisset.update(["six","seven","eight","nine"])
print(thisset)

{'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}

In [27]:
#to get number of items in set
thisset={'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}
print(len(thisset))

8

In [28]:
#To remove an item in a set use remove(), or discard()method
thisset={'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}
thisset.remove("four")
print(thisset)

{'two', 'one', 'nine', 'six', 'eight', 'three', 'seven'}

In [29]:
#using discard method
thisset={'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}
thisset.discard("four")
print(thisset)

{'two', 'one', 'nine', 'six', 'eight', 'three', 'seven'}

In [33]:
#pop() method can also be used to remove element
thisset={'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}
print("before pop operation:",thisset)
x=thisset.pop()
print("poped element is:",x)
print("after pop operation",thisset)

before pop operation: {'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}
poped element is: two
after pop operation {'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}

In [34]:
#clear() method is used to clear the set and make it empty
thisset={'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}
thisset.clear()
print(thisset)

set()

In [35]:
#to delete the set:
thisset={'two', 'one', 'four', 'nine', 'six', 'eight', 'three', 'seven'}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [37]:
#to join two sets:
set1={"A","B","C","D"}
set2={1,2,3,4}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 'C', 'A', 'D', 'B'}

In [38]:
#even update methiod is used to join two sets:
set1={"A","B","C","D"}
set2={1,2,3,4}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 'C', 'A', 'D', 'B'}

In [39]:
set4=set(("abc","efg","lmn"))
print(set4)

{'efg', 'abc', 'lmn'}

Q4

In [53]:
def missingnumber(a):
    n=len(a)
    total=(n+1)*(n+2)/2
    sumofa=sum(a)
    return total-sumofa

a=[1,2,3,5,6,7,8]
miss=int(missingnumber(a))
print(miss)

4

Q5.

In [52]:

lst1=[1,2,3,4,7,2,5,1,6,3,7,8]
print("Intially list is:",lst1)
abc=list(dict.fromkeys(lst1))
# abc.reverse()
print("After removing duplicate values:",abc)

Intially list is: [1, 2, 3, 4, 7, 2, 5, 1, 6, 3, 7, 8]
After removing duplicate values: [1, 2, 3, 4, 7, 5, 6, 8]